@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-rubik;
  }
}

@layer utilities {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 90vw;
    }
  }
}
